<h1>Welcome to honzadvorsky.bitbucket.org!</h1>

<ul><li>check out the <a href="http://honzadvorsky.bitbucket.org/hypergp_doc/html/index.html" title="">documentation</a> of the <a href="https://bitbucket.org/honzadvorsky/hypergp" title="https://bitbucket.org/honzadvorsky/hypergp">hyperGP project</a>.
</li><li>also check out <a href="http://honzadvorsky.sqsp.com" title="http://honzadvorsky.sqsp.com">my website</a>.</li></ul>